domvm3dir1029/VM3DIR_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT VM3DIR_orarend (ora+)>

<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
<!ATTLIST ora
          id CDATA #REQUIRED
          tipus (eloadas|gyakorlat) #REQUIRED>

<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap, tol, ig)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
