VM3DIR_0924/VM3DIR_mozi.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT mozi (film)*>

<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ATTLIST film
          id ID #REQUIRED
          mufaj (horror|akcio|vigjatek) "horror"#REQUIRED>

<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo
          id ID #REQUIRED
          nev CDATA #IMPLIED>

<!ELEMENT szinesz EMPTY>
<!ATTLIST szinesz
          id ID #REQUIRED
          nev CDATA #IMPLIED>

<!ELEMENT iro EMPTY>
<!ATTLIST iro
          id ID #REQUIRED>