VM3DIR_0924/VM3DIR_kurzusfelvetel.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT VM3DIR_kurzusfelvetel (hallgato, kurzusok)>
<!ATTLIST VM3DIR_kurzusfelvetel
          tanév CDATA #REQUIRED
          egyetem CDATA #REQUIRED>

<!ELEMENT hallgato (hnev, szulev, szak)>
<!ELEMENT kurzusok (kurzus*)>

<!ELEMENT kurzus (kurzusnev, kredit, hely, idopont, oktato, oraado?)>
<!ATTLIST kurzus
          id CDATA #REQUIRED
          jovahagyas (igen|nem) "nem"
          nyelv CDATA #IMPLIED>

<!ELEMENT hnev (#PCDATA)>
<!ELEMENT szulev (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
<!ATTLIST szak
          evf CDATA #REQUIRED>

<!ELEMENT kurzusnev (#PCDATA)>
<!ELEMENT kredit (#PCDATA)>
<!ELEMENT hely (#PCDATA)>
<!ELEMENT idopont (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT oraado (#PCDATA)>