VM3DIR_1112/studentVM3DIR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="class">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" maxOccurs="unbounded" minOccurs="3">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="vezeteknev" type="xs:string" use="required"/>
                            <xs:element name="keresztnev" type="xs:string" use="required"/>
                            <xs:element name="becenev" type="xs:string" use="required"/>
                            <xs:element name="kor" type="xs:positiveInteger" use="required"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> 

