VM3DIR_1008/VM3DIR_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ChatGPT -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Simple types -->
  <xs:simpleType name="idType">
    <!-- két számjegyű azonosító (pl. "01", "13") -->
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tipusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="eloadas"/>
      <xs:enumeration value="gyakorlat"/>
      <xs:enumeration value="konzultacio"/>
      <xs:enumeration value="szeminarium"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="napType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hétfő"/>
      <xs:enumeration value="Kedd"/>
      <xs:enumeration value="Szerda"/>
      <xs:enumeration value="Csütörtök"/>
      <xs:enumeration value="Péntek"/>
      <xs:enumeration value="Szombat"/>
      <xs:enumeration value="Vasárnap"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="timeType">
    <!-- 24 órás formátum HH:MM -->
    <xs:restriction base="xs:string">
        <xs:pattern value="([0-9]|[01][0-9]|2[0-3]):[0-5][0-9]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="roomType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="personType">
    <!-- oktató neve(i). Egyszerű string; több oktató vesszővel elválasztható -->
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="255"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="szakType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="targyType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Complex types -->
  <xs:complexType name="idopontType">
    <xs:sequence>
      <xs:element name="nap" type="napType"/>
      <xs:element name="tol" type="timeType"/>
      <xs:element name="ig" type="timeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="oraType">
    <xs:sequence>
      <xs:element name="targy" type="targyType"/>
      <xs:element name="idopont" type="idopontType"/>
      <xs:element name="helyszin" type="roomType"/>
      <xs:element name="oktato" type="personType"/>
      <xs:element name="szak" type="szakType"/>
    </xs:sequence>
    <xs:attribute name="id" type="idType" use="required"/>
    <xs:attribute name="tipus" type="tipusType" use="required"/>
  </xs:complexType>

  <!-- Root element -->
  <xs:element name="VM3DIR_orarend">
    <xs:complexType>
      <xs:sequence>
        <!-- többször előforduló "ora" elem -->
        <xs:element name="ora" type="oraType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <!-- Minden ora @id legyen egyedi -->
    <xs:unique name="uniqueOraId">
      <xs:selector xpath="ora"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>

</xs:schema>